@{
  Layout = "_Layout";
}
<div class="container">
<h2>@Model["stylist"].GetName()'s details: </h2>
<h4>Name: @Model["stylist"].GetName()</h4>
<h4>@Model["stylist"].GetName()'s specialty: @Model["stylist"].GetSpecialty()</h4>
<h4>@Model["stylist"].GetName()'s work schedule: @Model["stylist"].GetSchedule()</h4><br>

<h2>Here are all the clients for<span class="stylist"> @Model["stylist"].GetName() : </span></h2>
@if (@Model["clients"].Count == 0)
{
  <h3>@Model["stylist"].GetName() doesn't have any clients added!</h3>
}

<ul>
@foreach (var client in @Model["clients"])
{
  <li><h3><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></h3>
  <a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/delete" ><button class="btn btn-sm btn-danger">Delete Client</button></a>
  </li>
  <br>
}
</ul>

<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>

<p><a href='/stylists'>Return to Stylists list</a></p>
<p><a href='/'>Return to Main Page</a></p>
</div>