@{
  Layout = "_Layout";
}
<div class="container mt-3">
<h2><span class="special">@Model["stylist"].GetName()</span>'s details: </h2><br>
<h4>Name: <span class="special">@Model["stylist"].GetName()</span></h4>
<h4>@Model["stylist"].GetName()'s specialty: <span class="special">@Model["stylist"].GetSpecialty()</span></h4>
<h4>@Model["stylist"].GetName()'s work schedule: <span class="special"> @Model["stylist"].GetSchedule()</span></h4><br>


@if (@Model["clients"].Count == 0)
{
  <h3><span class="special">@Model["stylist"].GetName() </span> doesn't have any clients added!</h3>
}

<ul>
@if(@Model["clients"].Count > 0)
{
  <h2>Here are all the clients for<span class="special"> @Model["stylist"].GetName() : </span></h2>
@foreach (var client in @Model["clients"])
{
  <li><h3 class="special"><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></h3>
  <a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/delete" ><button class="btn btn-sm btn-danger">Delete Client</button></a>
  </li>
  <br>
}
}
</ul>

<a href='/stylists/@Model["stylist"].GetId()/clients/new'><button class="btn btn-primary mb-2">Add a new client</button></a><br>

<a href='/stylists'><button class="btn btn-dark btn-sm mb-2">Back to Stylists</button></a><br>
<a href='/'><button class="btn btn-dark btn-lg mb-2">Back to Main</button></a>
</div>